<b style="font-size: 3rem">Bueautiful Soup and Requests</b>

<b style="font-size: 2rem">Worldometers Web Scraper </b>

In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [12]:
url = "https://www.worldometers.info/geography/largest-countries-in-the-world/"

page = requests.get(url)

soup = BeautifulSoup(page.text, "html")

In [13]:
# Format with prettify

# soup.prettify()

In [14]:
# Select table

table = soup.find("table")

# table

In [15]:
 # Select table fields

table_head = soup.find("table")

table2_columns = table_head.find("tr")
table2_columns_formatted = [col.text.strip() for col in table2_columns]

# table2_columns_formatted

In [16]:
# Remove empty strings from the list of formatted table fields 
table2_columns_formatted = [col for col in table2_columns_formatted if col]  

# table2_columns_formatted

In [17]:
# Select table rows

table = soup.find("table")

table = table.findAll("tr")

row_data_list = []  
    
# Loop through the rows, skipping the header  
for row in table[1:]:  
    rows = row.find_all('td')  
    if rows:  
            # Scrap each relevant data point  
        row_data = [row.get_text(strip=True) for row in rows]
        row_data_list.append(row_data)  

# row_data_list

In [18]:
# Creating a dataframe of largest-countries-in-the-world and saving it

df = pd.DataFrame(row_data_list, columns=table2_columns_formatted)

df.to_excel("world_area.xlsx", index=False)

df

,#,Country,Tot. Area (Km²),Tot. Area (mi²),Land Area (Km²),Land Area (mi²),% of world landmass
0,1,Russia,"17,098,242","6,601,665","16,376,870","6,323,142",11.0 %
1,2,Canada,"9,984,670","3,855,101","9,093,510","3,511,022",6.1 %
2,3,China,"9,706,961","3,747,877","9,388,211","3,624,807",6.3 %
3,4,United States,"9,372,610","3,618,783","9,147,420","3,531,837",6.1 %
4,5,Brazil,"8,515,767","3,287,955","8,358,140","3,227,095",5.6 %
...,...,...,...,...,...,...,...
229,229,Saint Barthélemy,21,8,21,8,0.0 %
230,230,Tokelau,12,5,10,4,0.0 %
231,231,Gibraltar,6,2,10,4,0.0 %
232,232,Monaco,2,1,1,1,0.0 %
233,233,Holy See,0,0,0,0,0.0 %